# Quality of Government Dataset

In [49]:
#read the data directly online:
import pandas as pd
data = pd.read_csv ("http://www.qogdata.pol.gu.se/data/qog_std_cs_jan19.csv")

In [50]:
data.head()

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wwbi_rrespubpemp,wwbi_sprpempn,wwbi_sprpempp,wwbi_sprpemps,wwbi_sprpempt,wwbi_spupempn,wwbi_spupempp,wwbi_spupemps,wwbi_spupempt,wwbi_tertiarypubsec
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan19,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan19,NaN,NaN,26.0,13.0,...,0.19397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.546449
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan19,NaN,NaN,21.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan19,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## How many rows does this dataset have?

In [51]:
len (data)

194

## How many columns does this dataset have?

In [52]:
len(data.columns)

1983

## Select the following columns from the dataset: 

"cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"

In [53]:
df = data [["cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"]]
df

,cname,wdi_pop,wdi_popgr,wdi_gdpcapcur,wdi_gdpcapgr,wdi_area,wdi_broadb,ht_region
0,Afghanistan,33736496.0,2.943234,569.577942,-1.628298,652860.0,0.020948,8
1,Albania,2880703.0,-0.291206,3952.830811,2.516853,27400.0,8.307929,1
2,Algeria,39871528.0,1.919959,4160.220215,1.790254,2381740.0,5.691650,3
3,Andorra,78014.0,-1.537836,36038.269531,2.404977,470.0,39.344219,5
4,Angola,27859304.0,3.428021,3683.552490,-0.471272,1246700.0,0.551238,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,31298900.0,1.744258,2137.576904,6.132535,425400.0,5.771516,1
190,Venezuela,31155134.0,1.346708,15692.413086,-5.209202,882050.0,8.281396,2
191,Samoa,193759.0,0.761047,4149.411621,0.864223,2830.0,1.075563,9
192,Yemen,26916208.0,2.520254,1285.562988,-38.711018,527970.0,1.467517,3
193,Zambia,16100587.0,3.024123,1313.889648,-0.145952,743390.0,0.145274,4

## Rename these columns to: "country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"

In [54]:
df2 = df.rename (columns={"cname" : "name",
            "wdi_pop" : "population",
            "wdi_popgr" : "population_growth",
            "wdi_gdpcapcur" : "gdp_per_capita",
            "wdi_gdpcapgr" : "gdp_growth",
            "wdi_area" : "area",
            "wdi_broadb" : "internet",
            "ht_region" : "region"
           })
df2

,name,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
0,Afghanistan,33736496.0,2.943234,569.577942,-1.628298,652860.0,0.020948,8
1,Albania,2880703.0,-0.291206,3952.830811,2.516853,27400.0,8.307929,1
2,Algeria,39871528.0,1.919959,4160.220215,1.790254,2381740.0,5.691650,3
3,Andorra,78014.0,-1.537836,36038.269531,2.404977,470.0,39.344219,5
4,Angola,27859304.0,3.428021,3683.552490,-0.471272,1246700.0,0.551238,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,31298900.0,1.744258,2137.576904,6.132535,425400.0,5.771516,1
190,Venezuela,31155134.0,1.346708,15692.413086,-5.209202,882050.0,8.281396,2
191,Samoa,193759.0,0.761047,4149.411621,0.864223,2830.0,1.075563,9
192,Yemen,26916208.0,2.520254,1285.562988,-38.711018,527970.0,1.467517,3
193,Zambia,16100587.0,3.024123,1313.889648,-0.145952,743390.0,0.145274,4

In [55]:
## or, less verbose:
df.columns = ["country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"]
df

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
0,Afghanistan,33736496.0,2.943234,569.577942,-1.628298,652860.0,0.020948,8
1,Albania,2880703.0,-0.291206,3952.830811,2.516853,27400.0,8.307929,1
2,Algeria,39871528.0,1.919959,4160.220215,1.790254,2381740.0,5.691650,3
3,Andorra,78014.0,-1.537836,36038.269531,2.404977,470.0,39.344219,5
4,Angola,27859304.0,3.428021,3683.552490,-0.471272,1246700.0,0.551238,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,31298900.0,1.744258,2137.576904,6.132535,425400.0,5.771516,1
190,Venezuela,31155134.0,1.346708,15692.413086,-5.209202,882050.0,8.281396,2
191,Samoa,193759.0,0.761047,4149.411621,0.864223,2830.0,1.075563,9
192,Yemen,26916208.0,2.520254,1285.562988,-38.711018,527970.0,1.467517,3
193,Zambia,16100587.0,3.024123,1313.889648,-0.145952,743390.0,0.145274,4

## Create a categorical column from the region codes
the codes (in order correspond to the regions as follows):
"Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"

In [56]:
regions_dtype = pd.CategoricalDtype([
    "Eastern Europe", "Latin America", "North Africa & Middle East",
    "Sub-Saharan Africa", "Western Europe and North America",
    "East Asia", "South-East Asia", "South Asia", "Pacific", "Caribbean"
])

region_col = pd.Categorical.from_codes(codes=df["region"] - 1, dtype=regions_dtype)

df.loc[:, "region"] = region_col

C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\2122745874.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['South Asia', 'Eastern Europe', 'North Africa & Middle East', 'Western Europe and North America', 'Sub-Saharan Africa', ..., 'Eastern Europe', 'Latin America', 'Pacific', 'North Africa & Middle East', 'Sub-Saharan Africa']
Length: 194
Categories (10, object): ['Eastern Europe', 'Latin America', 'North Africa & Middle East', 'Sub-Saharan Africa', ..., 'South-East Asia', 'South Asia', 'Pacific', 'Caribbean']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:, "region"] = region_col

## Select the five countries with the highest population

In [57]:
display(df.sort_values ("population", ascending=False).head(5))
# also
df.nlargest(5,'population')

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
36,China,1.371220e+09,0.508137,8069.212891,6.358383,9388211.0,19.831091,East Asia
76,India,1.309054e+09,1.167527,1606.038330,6.899035,2973190.0,1.294274,South Asia
186,United States,3.210398e+08,0.755813,56443.816406,2.087076,9147420.0,31.948322,Western Europe and North America
77,Indonesia,2.581621e+08,1.181014,3334.549072,3.645004,1811570.0,1.542829,South-East Asia
20,Brazil,2.059621e+08,0.852799,8750.222656,-4.368797,8358140.0,12.372411,Latin America

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
36,China,1.371220e+09,0.508137,8069.212891,6.358383,9388211.0,19.831091,East Asia
76,India,1.309054e+09,1.167527,1606.038330,6.899035,2973190.0,1.294274,South Asia
186,United States,3.210398e+08,0.755813,56443.816406,2.087076,9147420.0,31.948322,Western Europe and North America
77,Indonesia,2.581621e+08,1.181014,3334.549072,3.645004,1811570.0,1.542829,South-East Asia
20,Brazil,2.059621e+08,0.852799,8750.222656,-4.368797,8358140.0,12.372411,Latin America

## What are the mean values for each attribute?

In [58]:
df.describe()

,population,population_growth,gdp_per_capita,gdp_growth,area,internet
count,1.910000e+02,191.000000,189.000000,187.000000,1.910000e+02,189.000000
mean,3.813915e+07,1.420801,13467.124656,1.468961,6.759791e+05,12.074958
std,1.415792e+08,1.255004,20777.109789,5.050970,1.854185e+06,13.196708
min,1.100100e+04,-2.467847,300.676544,-38.711018,2.000000e+00,0.001262
25%,1.953851e+06,0.517191,1761.610107,-0.028643,2.392500e+04,0.589583
50%,8.380100e+06,1.222652,4950.255859,1.758865,1.127600e+05,6.516730
75%,2.772106e+07,2.346671,15524.842773,3.447366,5.194300e+05,20.943651
max,1.371220e+09,5.856170,168146.015625,24.376534,1.637687e+07,47.912914

In [59]:
df.describe().loc["mean"]

population           3.813915e+07
population_growth    1.420801e+00
gdp_per_capita       1.346712e+04
gdp_growth           1.468961e+00
area                 6.759791e+05
internet             1.207496e+01
Name: mean, dtype: float64

## Which country has the highest population in the region "Eastern Europe"?

In [60]:
df[df.region == "Eastern Europe"].sort_values("population", ascending=False).head(1)
# also nlargest

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
143,Russia,144096864.0,0.192559,9329.291016,-3.037567,16376870.0,18.682213,Eastern Europe

## Create a new column "population_density"

In [61]:
df["population_density"] = pd.to_numeric(df["population"] / df["area"], errors="coerce")
df

C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\1978985599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["population_density"] = pd.to_numeric(df["population"] / df["area"], errors="coerce")

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region,population_density
0,Afghanistan,33736496.0,2.943234,569.577942,-1.628298,652860.0,0.020948,South Asia,51.674932
1,Albania,2880703.0,-0.291206,3952.830811,2.516853,27400.0,8.307929,Eastern Europe,105.135146
2,Algeria,39871528.0,1.919959,4160.220215,1.790254,2381740.0,5.691650,North Africa & Middle East,16.740504
3,Andorra,78014.0,-1.537836,36038.269531,2.404977,470.0,39.344219,Western Europe and North America,165.987234
4,Angola,27859304.0,3.428021,3683.552490,-0.471272,1246700.0,0.551238,Sub-Saharan Africa,22.346438
...,...,...,...,...,...,...,...,...,...
189,Uzbekistan,31298900.0,1.744258,2137.576904,6.132535,425400.0,5.771516,Eastern Europe,73.575223
190,Venezuela,31155134.0,1.346708,15692.413086,-5.209202,882050.0,8.281396,Latin America,35.321279
191,Samoa,193759.0,0.761047,4149.411621,0.864223,2830.0,1.075563,Pacific,68.466078
192,Yemen,26916208.0,2.520254,1285.562988,-38.711018,527970.0,1.467517,North Africa & Middle East,50.980563
193,Zambia,16100587.0,3.024123,1313.889648,-0.145952,743390.0,0.145274,Sub-Saharan Africa,21.658331

### What is the per country mean population density for each region
(= sum of densities for each country / number of countries)

In [62]:
df["population_density"] = pd.to_numeric(df["population_density"], errors="coerce")
df = df.dropna(subset=["population_density"])
mean_density = df.groupby("region")["population_density"].mean()

C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\1903566313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["population_density"] = pd.to_numeric(df["population_density"], errors="coerce")
C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\1903566313.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_density = df.groupby("region")["population_density"].mean()

## What is the actual population density in each region

(= Sum of population in the region / Sum of areas in the region)

Hint: Compute first the population sum and the area sum for each region

In [63]:
df.groupby("region").sum()[["population", "area"]]

C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\3657793892.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("region").sum()[["population", "area"]]

                                    population        area
region
Eastern Europe                    4.069618e+08  22606883.0
Latin America                     6.198195e+08  19623242.0
North Africa & Middle East        5.026128e+08  11985581.0
Sub-Saharan Africa                9.900483e+08  23540541.0
Western Europe and North America  8.046078e+08  29816972.0
East Asia                         1.552353e+09  11403811.0
South-East Asia                   6.346096e+08   4340499.0
South Asia                        1.744200e+09   4771577.0
Pacific                           1.027878e+07    517060.0
Caribbean                         7.204948e+06    404850.0

In [64]:
df.groupby("region").sum()["population"] / df.groupby("region").sum()["area"]

C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\1525166264.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("region").sum()["population"] / df.groupby("region").sum()["area"]
C:\Users\shamovich\AppData\Local\Temp\ipykernel_5664\1525166264.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("region").sum()["population"] / df.groupby("region").sum()["area"]

region
Eastern Europe                       18.001677
Latin America                        31.585989
North Africa & Middle East           41.934784
Sub-Saharan Africa                   42.057162
Western Europe and North America     26.984894
East Asia                           136.125791
South-East Asia                     146.206597
South Asia                          365.539508
Pacific                              19.879279
Caribbean                            17.796586
dtype: float64